node_modules
example/.env
rules/index.md
cli/.env*
cli/.sfdxAuthUrls
cli/sfdxAuthUrl*.txt
devops/.sfdx/indexes/lwc/custom-components.json
.sfdx
sfdx/test-report.xml 
cli/errors.csv
cli/errors.json
sfdx/errors.json
sfdx